<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="switchLoginPage()"expand="block" fill="solid" size="medium" shape="round">
        Zaloguj
      </ion-button>
    </ion-buttons>
    <ion-title>MECAP</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-card color="transparent" vertical="bottom" alligment="bottom">
    <ion-card-content>
      <h1><b>Profesjonalna opieka w zasięgu twojej ręki</b></h1>
    </ion-card-content>
  </ion-card>
</ion-content>