<ion-header>
  <ion-toolbar>
    <ion-title>Historia wizyt</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Wizyty</ion-label>
    </ion-list-header>
    <ion-card *ngFor="let previousVisits of (previousVisits | async)">
      <ion-card-content>
        <h2>{{previousVisits.specialisation}}</h2>
        <h2>{{previousVisits.doctorName}}</h2>
        <h2>{{previousVisits.startTime.toDate() | date: 'dd/MM/yyyy' }}</h2>
        <h2>{{previousVisits.startTime.toDate() | date: 'HH:mm' }} - 
          {{previousVisits.endTime.toDate() | date: 'HH:mm' }}</h2>

      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
