ion-content {
    --background: linear-gradient(0deg, #158ebe 0%, #ffffff 40%, #ffffff 100%);
    ion-card{
        box-shadow: 4px 4px 10px #d1d1d1, -3px -3px 10px #ffffff;

        ion-card-content {
            width: 95%;
            margin: 10px auto;
        } 
    }
}